* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background: #000;
  /*background: green;*/
  color: #FFF;
  text-align: center;
}

#app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*top: 20px;*/
  top: 1.5rem;
  /*right: 30px;*/
  right: 2rem;
  /*bottom: 20px;*/
  /*bottom: 1.5rem;*/
  bottom: 6rem;
  /*left: 30px;*/
  left: 2rem;
}


#app * {
  z-index: 10;
}


#splash {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  background: #000;
}

#splash .splash-content {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-top: -1rem;
  text-align: center;
  height: 2rem;
  font-size: 2rem;
  line-height: 2rem;
}

.prayer-info-container {
  background: gray;
  bottom: -6rem;
  height: 6rem;
}

.prayer-info {
  width: 20%;
  /*width: 16.66%;*/
  display: inline-block;
}

.analog-clock {
  background: #333;
  color: #EEE;
}

.analog-clock-container {
  width: 272px;
  height: 272px;
  position: relative;
}

.analog-clock-container .border-clock {
  display: none;
}

.analog-clock-container .analog-clock {
  border: 0;
}

/*.date-display,
.date-display .hijri-date,
.date-display .date,
.digital-clock,
.digital-clock .time,
.digital-clock .seconds,
.digital-clock .am-pm,
.prayer-info-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}*/


#bgful .bgful-image, #bgful .bgful-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#bgful .bgful-overlay {
  background: rgba(0, 0, 0, 0.75);
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#bgful .bgful-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px);
}