<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="assets/images/icon.png" />
    <!-- <link rel="apple-touch-startup-image" href="/launch.png"> -->
    <meta name="apple-mobile-web-app-title" content="MDisplay Live" />
    <link rel="manifest" href="manifest.json" />

    <title>MDisplay Live</title>
    <link rel="shortcut icon" href="assets/images/favicon.png" />
    <link rel="icon" type="image/png" href="assets/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="assets/vendors/reboot.css?v=2.8.2-118" />
    <link rel="stylesheet" type="text/css" href="assets/css/app.css?v=2.8.2-118" />
    <link rel="stylesheet" type="text/css" href="assets/analog-clock/analog-clock.css?v=2.8.2-118" />
    <link rel="stylesheet" type="text/css" href="assets/analog-clock/analog-clock-layout.css?v=2.8.2-118" />
    <link rel="stylesheet" type="text/css" href="assets/css/theme-default.css?v=2.8.2-118" />
  </head>
  <body>
    <div
      id="app"
      :class="[{'is-showing-alert': showAlert, 'analog-clock-active': analogClockActive, 'is-active': currentPrayer, 'is-waiting': currentPrayerWaiting, 'is-before': currentPrayerBefore, 'is-after': currentPrayerAfter, 'focus-active-timer': currentPrayer && focusActiveTimer}, 'active-prayer-info-' + prayerInfo, 'analog-clock-theme-' + analogClockTheme, 'digital-clock-theme-' + digitalClockTheme]"
    >
      <div id="splash" v-if="showSplash">
        <div class="splash-content">
          <!-- Loading... -->
          <img src="assets/images/icon.png" />
        </div>
      </div>
      <div style="display: none" v-show="true">

      <div id="active-overlay"></div>

        <div style="display: none" v-show="true" class="modal-wrapper" v-if="settingsMode">
          <div class="modal-overlay" @click="closeSettings()"></div>
          <div class="modal-dialog">
            <div @click="closeSettings()" class="modal-close modal-close-top">Close</div>
            <div class="modal-content">
              <div class="configured-info">
                <span>
                  Version {{ appVersion.versionString }}
                  (v.{{ appVersion.versionNumber }})
                </span>

                <span class="configured" v-if="iqamahTimesConfigured">Configured</span>
                <span class="not-configured" v-else>Not Configured</span>
              </div>
              <div class="update-info">
                <div class="kiosk-config">
                  <!-- <button type="button" class="">
                    Switch Launcher
                    <template v-if="kioskMode.available">
                      (Available, {{ kioskMode.enabled ? 'kiosk' : 'nokiosk' }} {{ kioskMode.isHome ? 'home' : 'nohome'
                      }})
                    </template>
                    <template v-else>
                      (Unavailable)
                    </template>
                  </button> -->
                </div>
                <!-- <div class="" v-if="appUdate.enabled">
                  AUTO UPDATE: <button type="button" @click="checkForUpdates()">Check</button>
                  <span class="error" v-if="appUdate.error">ERROR: {{ appUdate.error }}</span>
                  <span class="checking" v-if="appUdate.checking">Checking...</span>
                  <span class="updated" v-if="appUdate.updated"
                    >Updated. Version {{ '?v=2.8.2-118'.replace(/\?v=(\d+\.\d+\.\d+)-(\d+)/, '$1 ($2)') }}.</span
                  >
                  <span class="updating" v-if="appUdate.updating">Updating...</span>
                </div>
                <div class="" v-else>AUTO UPDATE: <button type="button" @click="checkForUpdates()">Check</button></div> -->
              </div>
              <div class="config-wrapper">

                <div class="config-container downloads-list others-config" style="width: 100%; float: none;" v-if="isDownloadsListOpen">
                  <a href="#" @click="isDownloadsListOpen = false;">&lt; Cancel</a>
                  <br>
                  Downloads
                  <div style="padding-left: 10px;">
                    <div v-for="dFile in downloadedFiles">
                      &middot;&gt; <a href="#" @click="onRestoreFileClick(dFile)">{{dFile.name}}</a>
                    </div>
                  </div>
                </div>

                <div class="config-container others-config" v-if="!isDownloadsListOpen">
                  <div class="config-item other-config" style="height: auto">
                    <div>
                      <small>Prayer Times Data</small>
                      <small>
                        >
                        <a href="#" @click="expanded.prayerTimesData = !expanded.prayerTimesData;">
                          <span v-if="expanded.prayerTimesData">dismiss</span>
                          <span v-else>{{ getSelected(prayerDataList, selectedPrayerDataId) }}</span>
                        </a>
                      </small>
                    </div>
                    <div v-if="expanded.prayerTimesData">
                    <label v-for="pData in prayerDataList" :for="'prayer-data-select-' + pData.id" style="display: block;">
                      <input
                        :id="'prayer-data-select-' + pData.id"
                        type="radio"
                        name="prayer-data-select"
                        :value="pData.id"
                        v-model="selectedPrayerDataId"
                        @change="expanded.prayerTimesData = false; updateSettings()"
                      />
                      {{ pData.label }}
                      &nbsp;
                    </label>
                    </div>
                  </div>
                  <div class="config-item other-config">
                    <label>Time Adjustment</label>
                    <!-- <select>
                      <option value="+">+</option>
                      <option value="-">-</option>
                    </select> -->
                    <input
                      class="time-input"
                      type="number"
                      v-model="timeAdjustmentMinutes"
                      @input="updateSettings()"
                      @change="updateSettings()"
                    />
                    <span>minutes</span>
                  </div>
                  <div class="config-item other-config" style="height: auto">
                    <div>
                      <small>Language</small>
                      <small>
                        >
                        <a href="#" @click="expanded.languages = !expanded.languages;">
                          <span v-if="expanded.languages">dismiss</span>
                          <span v-else>{{ getSelected(languages, selectedLanguage) }}</span>
                        </a>
                      </small>
                    </div>
                    <div v-if="expanded.languages">
                    <label v-for="lang in languages" :for="'language-select-' + lang.id" style="display: block;">
                      <input
                        :id="'language-select-' + lang.id"
                        type="radio"
                        name="language-select"
                        :value="lang.id"
                        v-model="selectedLanguage"
                        @change="expanded.languages = false; updateSettings()"
                      />
                      {{ lang.label }}
                      &nbsp;
                    </label>
                    </div>
                  </div>
                  <div class="config-item other-config" style="height: auto" v-if="false">
                    <div><small>Time Mode:</small></div>
                    <label for="time-origin-mode-auto">
                      <input
                        id="time-origin-mode-auto"
                        type="radio"
                        name="time-origin-mode"
                        value="auto"
                        v-model="timeOriginMode"
                        @change="updateSettings()"
                      />
                      Auto (NTP first)
                    </label>
                    <label for="time-origin-mode-device">
                      <input
                        id="time-origin-mode-device"
                        type="radio"
                        name="time-origin-mode"
                        value="device"
                        v-model="timeOriginMode"
                        @change="updateSettings()"
                      />
                      Device Only
                    </label>
                    <label for="time-origin-mode-network" v-if="false">
                      <input
                        id="time-origin-mode-network"
                        type="radio"
                        name="time-origin-mode"
                        value="network"
                        v-model="timeOriginMode"
                        @change="updateSettings()"
                      />
                      Network
                    </label>
                    <div v-if="false && timeOriginMode == 'network'">
                      <input type="url" v-model="networkTimeApiUrl" style="width: 100%; margin-bottom: 5px" />

                      <div>
                        <div><small>SSID</small></div>
                        <label v-for="(ssid, i) in timeServerSSIDs" :for="'time-server-ssid-' + i">
                          <input
                            :id="'time-server-ssid-' + i"
                            type="radio"
                            name="time-server-ssid"
                            :value="ssid"
                            v-model="timeServerSSID"
                            @change="ssidChanged()"
                          />
                          {{ ssid }}
                          &nbsp;
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="config-item other-config" style="height: auto;" v-if="showRememberWifiSetting">
                    <div><small>[beta] Remember Wifi: ({{ rememberedWifiSSID }})</small></div>
                    <div v-if="!connectedWifiSSID">WiFi Not Connected</div>
                    <label v-else for="remember-wifi-check">
                      <input
                        id="remember-wifi-check"
                        type="checkbox"
                        name="remember-wifi-check"
                        v-model="rememberWifi"
                        @change="updateSettings()"
                      />
                      {{connectedWifiSSID}}
                    </label>
                  </div>
                  <div class="config-item other-config" style="height: auto;">
                    <div>
                      <small>Clock Theme</small>
                      <small>
                        >
                        <a href="#" @click="expanded.clockThemes = !expanded.clockThemes;">
                          <span v-if="expanded.clockThemes">dismiss</span>
                          <span v-else>{{ getSelected(clockThemes, activeClockTheme) }}</span>
                        </a>
                      </small>
                    </div>
                    <div v-if="expanded.clockThemes">
                    <label v-for="clockTheme in clockThemes" :for="'clock-theme-select-' + clockTheme.id" style="display: block;">
                      <input
                        :id="'clock-theme-select-' + clockTheme.id"
                        type="radio"
                        name="clock-theme-select"
                        :value="clockTheme.id"
                        v-model="activeClockTheme"
                        @change="expanded.clockThemes = false; updateSettings()"
                      />
                      {{ clockTheme.label }}
                      &nbsp;
                    </label>
                    </div>
                  </div>
                  <div class="config-item other-config">
                    <label for="time24-format-check">
                      <input
                        id="time24-format-check"
                        type="checkbox"
                        name="time24-format-check"
                        v-model="time24Format"
                        @change="updateSettings()"
                      />
                      24 Hours time format (beta)
                    </label>
                  </div>
                  <div class="config-item other-config">
                    <label for="sunrise-support-check">
                      <input
                        id="sunrise-support-check"
                        type="checkbox"
                        name="sunrise-support-check"
                        v-model="sunriseSupport"
                        @change="updateSettings()"
                      />
                      Sunrise Support
                    </label>
                  </div>
                  <div class="config-item other-config">
                    <label for="alert-icon-active-check">
                      <input
                        id="alert-icon-active-check"
                        type="checkbox"
                        name="alert-icon-active-check"
                        v-model="alertEnabled"
                        @change="updateSettings()"
                      />
                      Warning and Reminder icons
                    </label>
                  </div>
                  <div class="config-item other-config">
                    <label for="focus-active-timer-check">
                      <input
                        id="focus-active-timer-check"
                        type="checkbox"
                        name="focus-active-timer-check"
                        v-model="focusActiveTimer"
                        @change="updateSettings()"
                      />
                      Focus Countdown Timer (beta)
                    </label>
                  </div>
                  <div class="config-item other-config" style="height: auto;">
                    <div v-if="iqamahTimesConfigured">
                      <a href="#" @click="backupSettings()"><small>Backup Settings</small></a>
                      &nbsp; &middot; &nbsp;
                      <template v-if="isCordovaReady">
                        <a href="#" @click="onRestoreSettingsClick()"><small>Restore Settings</small></a>
                      </template>
                    </div>
                    <div v-if="!isCordovaReady">
                      <small>Restore Settings</small>
                      <input
                        id="restore-settings-file-input"
                        type="file"
                        accept="text/plain"
                        @change="onRestoreFileChange($event)"
                      />
                     </div>
                  </div>
                </div>

                <div class="config-container times-config" v-if="!isDownloadsListOpen">
                  <!-- <div>
                    <small>Iqamah Times</small>
                  </div> -->
                  <div class="config-item time-config" style="height: auto;">
                    <span>
                    NOTE: Click on the
                    <span class="toggle-absolute is-not-absolute">
                      <span class="plus">+</span>
                    </span>
                    <span class="toggle-absolute is-absolute">
                      <span class="at">@</span>
                    </span>
                    buttons to use either adjacent or absolute time
                    </span>
                  </div>
                  <div class="config-item time-config" v-for="(iqamahTime, name) in iqamahTimes">
                    <span class="label">{{ name }}</span>
                    <!-- {{ name }}: {{ iqamahTime }} -->
                    <!-- <input type="checkbox" v-model="iqamahTime.absolute" @change="updateSettings()"> -->
                    <span
                      class="toggle-absolute"
                      :class="{'is-absolute': iqamahTime.absolute, 'is-not-absolute': !iqamahTime.absolute}"
                      @click="toggleAbsolute(iqamahTime)"
                    >
                      <span class="at" v-if="iqamahTime.absolute">@</span>
                      <span class="plus" v-else>+</span>
                    </span>
                    <template v-if="iqamahTime.absolute">
                      <input
                        class="time-input"
                        type="number"
                        v-model="iqamahTime.hours"
                        @input="updateSettings()"
                        @change="updateSettings()"
                      />
                      <span class="time-input-colon">:</span>
                    </template>
                    <input
                      class="time-input"
                      type="number"
                      v-model="iqamahTime.minutes"
                      @input="updateSettings()"
                      @change="updateSettings()"
                    />
                    <span class="time-info">
                      <span v-if="iqamahTime.absolute">
                        <small>(24h)</small>
                      </span>
                      <span class="" v-else>minutes</span>
                    </span>
                  </div>
                </div>

                <div class="config-container times-config" v-if="!isDownloadsListOpen" style="margin-top: 0.5rem;">
                  <div class="config-item other-config" style="height: auto;">
                    <label for="time-override-active-check">
                      <input
                        id="time-override-active-check"
                        type="checkbox"
                        name="time-override-active-check"
                        v-model="timeOverrideEnabled"
                        @change="updateSettings()"
                      />
                      Time Override <small>(beta)</small>
                    </label>
                    <a href="#" @click="lastKnownTime = undefined; timeOverrideEnabled = false; updateSettings();">Reset</a>
                    <input
                      id="time-override-input"
                      type="datetime-local"
                      name="time-override-input"
                      v-model="lastKnownTime"
                      step="1"
                      @change="updateSettings()"
                    />
                  </div>
                </div>

              </div>
              <div @click="closeSettings()" class="modal-close modal-close-bottom">Close</div>
            </div>
          </div>
        </div>

        <div
          v-show="true"
          @click="openSettings()"
          id="version-info"
          style="
            position: fixed;
            font-size: 1rem;
            text-align: right;
            right: 1rem;
            top: 1rem;
            right: 0;
            top: 0;
            height: 3rem;
            display: none;
            z-index: 511;
            padding-right: 2rem;
            padding-top: 1.25rem;
          "
        >
          <div class="version-active-overlay"></div>
          <div v-if="network.showInternetAvailability && network.internetAvailable === false">
            <span style="padding: 0.25rem; color: #ff0000; font-weight: bold; opacity: 0.75">No Internet</span>
          </div>
          <div v-else>
            <!-- <span style="opacity: 0.25"> Version {{ '?v=2.8.2-118'.replace(/\?v=(\d+\.\d+\.\d+)-(\d+)/, '$1') }} </span> -->

            <span style="opacity: 0.5">
              <svg style="height: 1em; color: #FFF; fill: #FFF;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path d="M352 320c88.4 0 160-71.6 160-160c0-15.3-2.2-30.1-6.2-44.2c-3.1-10.8-16.4-13.2-24.3-5.3l-76.8 76.8c-3 3-7.1 4.7-11.3 4.7H336c-8.8 0-16-7.2-16-16V118.6c0-4.2 1.7-8.3 4.7-11.3l76.8-76.8c7.9-7.9 5.4-21.2-5.3-24.3C382.1 2.2 367.3 0 352 0C263.6 0 192 71.6 192 160c0 19.1 3.4 37.5 9.5 54.5L19.9 396.1C7.2 408.8 0 426.1 0 444.1C0 481.6 30.4 512 67.9 512c18 0 35.3-7.2 48-19.9L297.5 310.5c17 6.2 35.4 9.5 54.5 9.5zM80 408a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/>
              </svg>
                Settings
            </span>
            <svg style="display: none;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path d="M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4 .6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z"/>
            </svg>
            <span
              class="version-text"
              style="
                opacity: 0.75;
                background: black;
                font-size: 1.5rem;
                padding: 0.25rem;
                border-radius: 50%;
                text-align: center;
              "
              >v.{{ appVersion.versionNumber }}</span
            >
          </div>
        </div>
        <div style="visibility: hidden; position: fixed; top: -125%;">
          <img v-for="i in 60" :src="'backgrounds/' + (i - 1) + '.jpg?v=' + bgVersion" />
        </div>

        <div id="bgful" class="bgful-container" v-if="backgroundImage">
          <div class="bgful-overlay"></div>
          <div class="bgful-image">
            <img :src="backgroundImage" />
          </div>
        </div>
        <div v-if="currentPrayer && focusActiveTimer" class="alert-container" :style="{opacity: showAlert ? '1' : '0'}">
          <img :src="'assets/images/' + currentlyShowingAlert">
        </div>
        <div class="digital-clock" v-if="timeIsValid">
          <span class="time">
            <span class="hours"
              ><span class="h">{{ timeDisplayHours }}</span>
              <span class="date-display">
                <span v-if="!(currentPrayer && focusActiveTimer)" class="alert-container" :style="{opacity: showAlert ? '1' : '0'}">
                  <img :src="'assets/images/' + currentlyShowingAlert">
                </span>
                <span :style="{opacity: showAlert ? '0.95' : '1'}">
                  <span class="hijri-datex">{{ hijriDateDisplay }}</span>
                  <span class="datex">{{ dateDisplay }}</span>
                  <!-- <span style="font-size: 2.25rem; display: block; line-height: 3rem;">{{ dateDisplay }}</span> -->
                  <span class="weekday">{{ weekDayDisplay }}</span>
                  <!-- <span style="font-size: 2.75rem; display: block; line-height: 3rem; margin-top: 0.5rem; margin-bottom: 0.75rem;">{{ weekDayDisplay }}</span> -->
                  <!-- <span style="font-size: 2.5rem; display: block; line-height: 3rem;">ஜமா அத்துல் ஆகிர்</span> -->
                  <!-- <span class="hijri-datex">{{ hijriDateDisplay }}</span> -->
                  <img
                    v-if="false"
                    style="position: absolute; top: 5rem; right: 5rem; height: 50px; width: 50px"
                    :src="'assets/images/moon/' + hijriDate.day + '.png'"
                  />
                </span>
              </span> </span
            ><span class="colon colon-main">{{ timeDisplayColon }}</span
            ><span class="minutes"
              ><span class="m">{{ timeDisplayMinutes }}</span>

              <span class="seconds-container">
                <span class="seconds"
                  ><span class="colon">&nbsp;{{ timeDisplayColon }}</span>{{ timeDisplaySeconds }}</span
                >
                <span class="am-pm">{{ timeDisplayAmPm }}</span>
              </span>
            </span>
          </span>
          <!--       <small class="seconds">{{ timeDisplaySeconds }}</small>
      <small class="am-pm">{{ timeDisplayAmPm }}</small> -->
        </div>

        <!--     <div class="next-prayer prayer-display">
      <span class="name"><span class="label">{{ translate('nextPrayer.label') }}:</span> {{ nextPrayer.nameDisplay }}</span>
      <span class="time">
        <span class="hours">{{ nextPrayer.timeHours }}</span><span class="colon">:</span><span class="minutes">{{ nextPrayer.timeMinutes }}</span>
      </span>
      <small class="am-pm">{{ nextPrayer.timeAmPm }}</small>
      <span class="iqamah-time">
        <span class="hours">{{ nextPrayer.iqamahTimeHours }}</span><span class="colon">:</span><span class="minutes">{{ nextPrayer.iqamahTimeMinutes }}</span>
      </span>
      <small class="iqamah-am-pm">{{ nextPrayer.iqamahTimeAmPm }}</small>
    </div> -->

        <template v-if="timeIsValid">
          <template
            v-for="display in [
        {type: 'active', name: 'currentPrayer', prayer: currentPrayer},
        {type: 'next', name: 'nextPrayer', prayer: nextPrayer}
      ]"
          >
            <div :class="[display.type + '-prayer', 'prayer-display']" v-if="display.prayer">
              <span class="name"
                ><span class="label">{{ translate(display.name + '.label') }}:</span>
                {{ display.prayer.nameDisplay }}
              </span>
              <span class="time" :class="{'is-sunrise': display.prayer.name == 'Sunrise'}">
                <span class="hours">{{ display.prayer.timeHours }}</span><span class="colon">:</span
                ><span class="minutes">{{ display.prayer.timeMinutes }}</span>
                <small class="am-pm">{{ display.prayer.timeAmPm }}</small>
                <small class="label" v-if="display.prayer.name != 'Sunrise'">{{ translate('prayer.label') }}</small>
              </span>
              <!-- <small class="am-pm">{{ display.prayer.timeAmPm }}</small> -->
              <span class="iqamah-time" v-if="display.prayer.name != 'Sunrise'">
                <span class="hours">{{ display.prayer.iqamahTimeHours }}</span><span class="colon">:</span
                ><span class="minutes">{{ display.prayer.iqamahTimeMinutes }}</span>
                <small class="iqamah-am-pm">{{ display.prayer.iqamahTimeAmPm }}</small>
                <small class="iqamah-label" v-if="display.prayer.name != 'Jummah'">{{ translate('prayer.iqamah-label') }}</small>
              </span>
              <!-- <small class="iqamah-am-pm">{{ display.prayer.iqamahTimeAmPm }}</small> -->
            </div>
          </template>
        </template>
        <!--     <div class="active-prayer prayer-display" v-if="currentPrayer">
      <div class="name"><span class="label">{{ translate('currentPrayer.label') }}:</span> {{ currentPrayer.nameDisplay }}</div>
      <div class="time">{{ currentPrayer.timeDisplay }}
        <small class="am-pm">{{ currentPrayer.timeAmPm }}</small>
      </div>
    </div> -->
        <template v-if="timeIsValid">
          <div class="active-timer" v-if="currentPrayer">
            <div class="timer timer-is-before" v-if="currentPrayerBefore">
              <div class="time">
                <!-- {{ currentPrayerBefore }} -->
                <span class="minutes">{{ currentPrayerBefore.minutes }}</span
                ><span class="colon">{{ currentPrayerBefore.colon }}</span
                ><span class="seconds">{{ currentPrayerBefore.seconds }}</span>
              </div>
              <div class="description">{{ currentPrayerDescription }}</div>
            </div>
            <div class="timer timer-is-after" v-if="currentPrayerAfter">
              <div class="time">
                <!-- {{ currentPrayerAfter }} -->
                <span class="minutes">{{ currentPrayerAfter.minutes }}</span
                ><span class="colon">{{ currentPrayerAfter.colon }}</span
                ><span class="seconds">{{ currentPrayerAfter.seconds }}</span>
              </div>
              <div class="description">{{ currentPrayerDescription }}</div>
            </div>
            <div class="timer timer-is-waiting" v-if="currentPrayerWaiting">
              <div class="time">
                <!-- {{ currentPrayerWaiting }} -->
                <span class="minutes">{{ currentPrayerWaiting.minutes }}</span
                ><span class="colon">{{ currentPrayerWaiting.colon }}</span
                ><span class="seconds">{{ currentPrayerWaiting.seconds }}</span>
              </div>
              <div class="description">{{ currentPrayerDescription }}</div>
            </div>
          </div>
        </template>

        <div
          class="analog-clock-container"
          :style="{'visibility': timeIsValid ? 'visible' : 'hidden'}"
        >
          <img class="analog-clock-bg" :src="'assets/analog-clock/themes/' + analogClockTheme + '/clock-face.png'"></span>
          <span class="analog-clock-overalay"></span>
          <!-- HOURS' HAND -->
          <img
            id="analog-clock-hand-hours"
            :src="'assets/analog-clock/themes/' + analogClockTheme + '/clock-hand-hours.png'"
            alt="HOURS HAND"
          />

          <!-- MINUTES' HAND -->
          <img
            id="analog-clock-hand-minutes"
            :src="'assets/analog-clock/themes/' + analogClockTheme + '/clock-hand-minutes.png'"
            alt="MINUTES HAND"
          />

          <!-- SECONDS' HAND -->
          <img
            id="analog-clock-hand-seconds"
            :src="'assets/analog-clock/themes/' + analogClockTheme + '/clock-hand-seconds.png'"
            alt="SECONDS HAND"
          />

          <!-- CENTER CIRCLE -->
          <img
            class="analog-clock-center-circle"
            :src="'assets/analog-clock/themes/' + analogClockTheme + '/clock-center-circle.png'"
            alt="CENTER CIRCLE"
          />
        </div>

        <div class="prayer-info-container" v-if="timeIsValid">
          <div class="prayer-info" v-for="prayer in prayersListDisplay" :class="{'is-current': prayer === currentPrayer, 'is-sunrise': prayer.name == 'Subah' && showSunriseNow}">
            <div class="prayer-name">{{ prayer.nameDisplay }}</div>
            <!-- <transition name="fade" mode="out-in"> -->
            <div class="prayer-time" xv-if="prayerInfo == 'athan'">
              {{ prayer.timeDisplay }}
              <span class="am-pm">{{ prayer.timeAmPm }}</span>
            </div>
            <div class="iqamah-time" xv-if="prayerInfo == 'iqamah'">
              <span v-if="prayer.name == 'Subah' && showSunriseNow">
                {{ prayers[1].timeDisplay }}
              </span>
              <template v-else>
                {{ prayer.iqamahTimeDisplay }}
                <span class="am-pm">{{ prayer.iqamahTimeAmPm }}</span>
              </template>
          </div>
            <!-- </transition> -->
          </div>
        </div>

        <div class="invalid-time-container" v-if="!timeIsValid">
          <h3>Waiting for time update...</h3>
          <h2 v-if="timeOriginMode == 'auto'">from app</h2>
          <h2 v-else>from {{ timeOriginMode == 'network' ? 'network' : 'device' }}</h2>
          <h3>
            <small>Network Status: </small>
            <strong>{{ network.status }}</strong>
          </h3>
          <h1 :style="{color: networkTimeInitialized ? '#ff1919' : '#ff1919'}">
            <small>Device time:</small> {{ getDeviceTimeFormatted() }} <br>
            <small>App time:</small> {{ timeFormatted }} <br>
          </h1>
          <h3 v-if="timeFetchingMessage" :style="{color: timeFetchingMessage.color}">{{ timeFetchingMessage.text }}</h3>
        </div>

        <div class="toast-container" v-if="toasts.length">
          <div class="toast-item" v-for="toast in toasts">
            <div class="toast-text">{{ toast.message }}</div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="prayer-data.js?v=2.8.2-118"></script>
    <script type="text/javascript" src="assets/vendors/workbox-window.prod.umd.js?v=2.8.2-118"></script>
    <script type="text/javascript" src="assets/vendors/vue.min.js?v=2.8.2-118"></script>
    <script type="text/javascript" src="assets/vendors/moment.min.js?v=2.8.2-118"></script>
    <script type="text/javascript" src="assets/vendors/hijri.js?v=2.8.2-118"></script>
    <script type="text/javascript" src="assets/vendors/jquery-3.6.0.min.js?v=2.8.2-118"></script>
    <script type="text/javascript" src="assets/js/translations.js?v=2.8.2-118"></script>
    <script type="text/javascript" src="cdvfile://localhost/assets/www/cordova.js"></script>
    <script type="text/javascript" src="assets/analog-clock/analog-clock.js?v=2.8.2-118"></script>
    <script type="text/javascript" src="assets/js/app.js?v=2.8.2-118"></script>
    <script type="text/javascript">
      // WARNING: do not use ES6 syntax
      // The code should only be authored in ES5
      // to support older generation Android TV boxes

      var fullVersion = '?v=2.8.2-118';
      window.mdApp.data.appVersion = window.mdApp.parseVersion(fullVersion);

      var hasCordova = !!window.cordova;
      if (hasCordova) {
        document.addEventListener('deviceready', function () {
          window.mdApp.deviceReady();
        });
      } else {
        window.mdApp.deviceReady();
        //   alert('Not intended to run in a non-cordova environment');
      }

      var isLocalhost = window.location.hostname == 'localhost' || window.location.hostname == '192.168.1.11' || window.location.hostname == localStorage.getItem('local-ip');
      var enableServiceWorker = /* !isLocalhost && */!window.cordova;

      var isSimulating = true;
      var isSimulating = false;
      if (isLocalhost && isSimulating) {
        window.initialTestTime =
        // undefined;
        new Date(new Date().getFullYear(), 6,
        //new Date().getMonth(),
        31,
        // new Date().getDate(),
        // 16, 30, 40,
        // 2, 20, 30,
        12, 30, 45, 0);
        // window.mdApp.simulateTime = 20;
        // window.initialTestTime.setFullYear(1970);

        // window.mdApp.data.time = window.initialTestTime;
        // setInterval(() => {
        //   // window.mdApp.data.time.setDate(window.mdApp.data.time.getDate() + 1);
        //   window.mdApp.data.time.setHours(window.mdApp.data.time.getHours() + 12);
        //   // window.mdApp.data.time.setMinutes(window.mdApp.data.time.getMinutes() + 1);
        //   // window.mdApp.data.time.setSeconds(59);
        // }, 500);
        console.log('window.mdApp.simulateTime', window.mdApp.simulateTime);
      }
      if (location.hostname == '' || location.hostname == 'zetmel.com' || location.hostname == 'mdisplay.github.io') {
        window.initialTestTime = undefined;
        window.mdApp.simulateTime = undefined;
      }
      // if (!window.initialTestTime) {
      //   window.initialTestTime = new Date();
      // }
      // window.initialTestTime.setFullYear(1970);
      window.mdApp.init(window.initialTestTime, function () {
        new Vue({
          el: '#app',
          data: window.mdApp.data,
          computed: window.mdApp.computed,
          methods: {
            translate: function translate(text) {
              return window.mdApp.translate(text);
            },
            updateSettings: function updateSettings() {
              window.mdApp.updateSettings();
            },
            closeSettings: function closeSettings() {
              window.mdApp.closeSettings();
            },
            openSettings: function openSettings() {
              window.mdApp.openSettings();
            },
            checkForUpdates: function checkForUpdates() {
              window.mdApp.checkForUpdates();
            },
            toggleAbsolute: function toggleAbsolute(iqamahTime) {
              iqamahTime.absolute = !iqamahTime.absolute;
              this.updateSettings();
            },
            languageChanged: function languageChanged() {
              window.mdApp.languageChanged();
            },
            ssidChanged: function ssidChanged() {
              window.mdApp.ssidChanged();
            },
            backupSettings: function backupSettings() {
              window.mdApp.backupSettings();
            },
            getSelected: function(options, selectedId) {
              return window.mdApp.getSelected(options, selectedId);
            },
            onRestoreFileChange: function(event) {
              return window.mdApp.onRestoreFileChange(event);
            },
            getDeviceTimeFormatted: function() {
              return window.mdApp.getDeviceTimeFormatted();
            },
            onRestoreSettingsClick: function() {
              return window.mdApp.onRestoreSettingsClick();
            },
            onRestoreFileClick: function(dFile) {
              return window.mdApp.onRestoreFileClick(dFile);
            },
          },
          created: function created() {
            window.mdApp.created();
          },
          mounted: function mounted() {
            window.mdApp.mounted();
          }
        });
      }, window.analogClock);

      // Check that service workers are supported
      if ('serviceWorker' in navigator && enableServiceWorker && window.location.protocol != 'file:') {
        var serviceWorkerFile = 'service-worker' + (isLocalhost ? '-local' : '') + '.js';
        if (window.workbox && window.workbox.Workbox) {
          var wb = new window.workbox.Workbox(serviceWorkerFile);
          wb.addEventListener('installed', function (event) {
            if (event.isUpdate) {
              // console.log('New content available! Reload the browser to update');
              var notificationSeconds = 3000;
              window.mdApp.showToast('[sw] Application updated. Reloading...', notificationSeconds);
              setTimeout(function () {
                window.location.reload();
              }, notificationSeconds);
              // if (confirm('New update is available! Press OK to refresh')) {
              //   window.location.reload();
              // }
            }

            console.log('installed', event);
          });
          wb.register();
          window.wb = wb;
        } else {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', function () {
            navigator.serviceWorker.register(serviceWorkerFile);
          });
        }
      }
    </script>
  </body>
</html>
