.colon {
  text-align: center;
}

.prayer-info-container {
  position: absolute;
  right: 0;
  right: -2rem;
/*  bottom: 0;
  bottom: -1.5rem;*/
  left: 0;
  left: -2rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  background: #222;
  background: transparent;
  /*height: 6rem;*/
}

.prayer-info-container .prayer-info {
  position: relative;
  height: 6rem;
}

.prayer-info-container .prayer-info:nth-child(even) {
  background: rgba(255, 255, 255, 0.125);
}

.prayer-info-container .prayer-name {
  font-size: 1rem;
  font-size: 1.75rem;
  font-size: 2rem;
  line-height: 1.75rem;
  line-height: 2rem;
  /*margin-bottom: 0.5rem;*/
  height: 1.75rem;
  height: 2rem;
  margin-bottom: 0.25rem;
  margin-bottom: 0rem;
  background: #333;
  display: block;
  opacity: 0.76;
  background: rgba(255, 255, 255, 0.25);
}

.prayer-info-container .prayer-time,
.prayer-info-container .iqamah-time {
/*  font-size: 3rem;
  line-height: 3rem;*/
  font-size: 4rem;
  line-height: 4rem;
  width: 100%;
  text-align: center;
  position: relative;
}

.prayer-info-container .prayer-time {
  color: #7eff74;
}

.prayer-info-container .iqamah-time {
  color: #FFEB3B;
  /*display: none;*/
}

.prayer-info-container .am-pm {
  opacity: 0.76;
  opacity: 0.76;
  font-size: 0.75rem;
/*  position: relative;
  bottom: 0.5rem;*/

  position: absolute;
  top: 0.5rem;
  line-height: 0.75rem;
  right: -0.125rem;
  display: none;
}
/*

.date-display {
  bottom: auto;
  left: auto;
}

.hijri-date {
  position: absolute;
}*/


.date-display .hijri-date, .date-display .date {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.76;
}

.date-display .hijri-date {
  font-size: 1.5rem;
  height: 2rem;
}

.date-display .date {
  font-size: 1.75rem;
  line-height: 2rem;
  top: 2.5rem;
}

.digital-clock,
/*.digital-clock .time,*/
.digital-clock .seconds,
.digital-clock .am-pm {
  position: absolute;
  top: 0;
  right: 0;
}

.digital-clock {
  top: 6rem;
  /*top: 7.5rem;*/
}
.digital-clock .time {
  position: relative;
  font-size: 10rem;
  line-height: 10rem;
  height: 10rem;
  width: auto;
  right: 5rem;
  top: -1rem;

/*  top: -2rem;
  font-size: 18rem;
  line-height: 18rem;*/
  height: 18rem;
}


.digital-clock .time .hours,
.digital-clock .time .colon,
.digital-clock .time .minutes {
  /*float: left;*/
  /*display: inline-block;*/
}



.digital-clock .time .colon {
  opacity: 0.75;
/*  min-height: 3rem;
  width: 3rem;
  width: 5rem;*/
}

.digital-clock .seconds {
  font-size: 2.5rem;
  font-size: 3.75rem;
  line-height: 3.75rem;
  opacity: 0.75;
  top: 3rem;
}

.digital-clock .am-pm {
  font-size: 2.5rem;
  font-size: 2rem;
  line-height: 2rem;
  opacity: 0.75;
}












.digital-clock .time .hours,
.digital-clock .time .minutes {
  /*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";*/
}

.digital-clock .time .hours,
.digital-clock .time .minutes {
  opacity: 0.9;
}

.digital-clock .time .hours {
  position: fixed;
  top: 0;
  left: 0;
  left: 2rem;
  font-size: calc(50vh - 3rem);
  height: calc(50vh - 3rem);
  line-height: calc(50vh - 3rem);
}

.digital-clock .time .minutes {
  position: fixed;
  left: 0;
  left: 2rem;
  font-size: calc(50vh - 3rem);
  /*top: calc(50vh - 3rem);*/
  height: calc(50vh - 3rem);
  line-height: calc(50vh - 3rem);
  bottom: 6rem;
}

.digital-clock .time .colon-main {
  position: fixed;
  top: calc(50vh - 3rem);
  left: 0;
  height: 25vh;
  width: 25vh;
  font-size: 25vh;
  line-height: 25vh;
  margin-top: -12.5vh;
  transform: rotate(90deg);
  transform-origin: center;
  left: calc(15vh + 2rem);
  text-align: center;
  display: block;
}


.digital-clock .time .seconds-container {
  position: absolute;
  display: block;
  right: -5rem;
  bottom: 0;
  bottom: 1.5rem;
  top: 0;
}


.digital-clock .seconds {
  top: auto;
  bottom: 0;
  opacity: 0.76;
}

.digital-clock .am-pm {
  top: auto;
  bottom: 4.5rem;
}

.digital-clock .date-display {
  position: absolute;
  display: inline-block;
  top: 0;
  top: 1.5rem;
  right: -30rem;
  width: 30rem;
  padding-left: 1rem;
  text-align: left;
}

.digital-clock .date-display .hijri-datex {
  display: block;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 0.75rem;
  opacity: 0.76;
}

.digital-clock .date-display .datex {
  display: block;
  font-size: 2.25rem;
  /*line-height: 3rem;*/
  line-height: 2.25rem;
  margin-bottom: 0.75rem;
  opacity: 0.8;
}


.digital-clock .date-display .weekday {
  display: block;
  font-size: 2.75rem;
  line-height: 3rem;
  line-height: 2.75rem;
  opacity: 0.8;
}




.analog-clock-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 15rem;
  height: 15rem;

  width: 22rem;
  height: 22rem;
  top: 2rem;

  width: 15rem;
  height: 15rem;
}

.active-timer {
  position: absolute;
  font-size: 5rem;
  bottom: 2rem;
  /*bottom: 4rem;*/
  left: 0;
  right: 0;
  text-align: right;
}

.active-timer .time {
  font-size: 10rem;
  height: 10rem;
  line-height: 10rem;
}

.active-timer .description {
  font-size: 3rem;
  /*font-size: 2rem;*/
  font-size: 2.5rem;
  display: block;
  opacity: 0.75;
  margin-top: -1rem;
  /*color: #FFF;*/
}


.active-timer .time .minutes,
.active-timer .time .colon,
.active-timer .time .seconds {
  /*float: left;*/
  /*display: inline-block;*/
}

.active-timer .time .colon {
  opacity: 0.75;
  min-height: 3rem;
  width: 3rem;
}

.is-before .active-timer .time {
  color: #23ff2c;
  color: #58ff4c;
  color: #7eff74;
}
.is-waiting .active-timer .time {
  color: #FFEB3B;
}
.is-after .active-timer .time {
  color: #fb2414;
  color: #ff5959;
}

/*.next-prayer, .active-prayer {
  display: none;
}*/

.is-active .next-prayer {
  display: none;
}

/*.next-prayer, .active-prayer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}*/

.prayer-display .name {
  font-size: 5rem;
  /*font-size: 7.5rem;*/
  position: absolute;
  left: 0;
  display: block;
  /*bottom: 3rem;*/
  bottom: 0;
  opacity: 0.76;
  margin-bottom: 2rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
  margin-left: 1.5rem;

  bottom: auto;
  top: 4rem;
  right: 0;
  left: auto;

  top: auto;
  bottom: 12rem;

  font-size: 4rem;
  bottom: 12.5rem;
}

.prayer-display .name .label {
  font-size: 2.5rem;
  font-size: 2rem;
  position: absolute;
  right: 0;
  top: -2rem;
  opacity: 0.9;
}

.prayer-display .iqamah-time, .prayer-display .iqamah-am-pm,
.prayer-display .time, .prayer-display .am-pm {
  position: absolute;
  right: 0;
  bottom: 0;
  /*margin-bottom: 3rem;*/
}

.prayer-display .iqamah-time,
.prayer-display .time {
  height: 7.5rem;
  line-height: 7.5rem;
  font-size: 7.5rem;
  right: 2rem;
  right: 3rem;
  opacity: 0.76;
  opacity: 1;
}

.prayer-display .iqamah-am-pm,
.prayer-display .am-pm {
  font-size: 1.5rem;
  opacity: 0.75;
  bottom: 5rem;
}

.prayer-display .time {
  bottom: 7rem;
  bottom: 8rem;
}

.prayer-display .iqamah-time {
  margin-bottom: 0;
  bottom: 1rem;
/*  font-size: 6rem;
  height: 6rem;
  line-height: 6rem;*/
}

.prayer-display .am-pm {
  bottom: 11.5rem;
  bottom: 12.5rem;
}

.prayer-display .iqamah-am-pm {
  bottom: 4.5rem;
  bottom: 5.5rem;
}

.prayer-display .colon {
  opacity: 0.75;
}

.prayer-display .time, .prayer-display .am-pm {
  color: #23ff2c;
  color: #58ff4c;
  color: #7eff74;
}

.prayer-display .iqamah-time, .prayer-display .iqamah-am-pm {
  color: #FFEB3B;
}

.active-prayer .time,
.active-prayer .iqamah-time,
.active-prayer .iqamah-am-pm,
.active-prayer .am-pm {
  display: none;
}

.analog-clock {
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
}

.analog-clock ul,
.analog-clock ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.75);
}

.analog-clock div.hours::before {
  width: 0.5rem;
  /*height: 5rem;*/
  background-color: rgba(255, 255, 255, 0.9);
}

.analog-clock div.minutes::before {
  /*width: 0.25rem;*/
  width: 0.5rem;
  /*height: 7.5rem;*/
  background-color: rgba(255, 255, 255, 0.8);
}

.analog-clock div.seconds::before {
  background-color: #EB6444;
  width: 0.2rem;
  width: 0.125rem;
  /*height: 8rem;*/
}

.analog-clock span::before, .analog-clock span::after {
  /*background-color: rgba(255, 255, 255, 0.25);*/
  background-color: rgba(255, 255, 255, 0.75);
}
.analog-clock span.fives::before, .analog-clock span.fives::after {
  /*background-color: rgba(255, 255, 255, 0.75);*/
  background-color: rgba(255, 255, 255, 0.9);
}


.analog-clock .cercle {
  background-color: #EB6444;
  border: 0;
  width: 0.5rem;
  height: 0.5rem;
  width: 1rem;
  height: 1rem;
}

.analog-clock i {
  font-size: 1.25rem;
}

/* WNHITE FACE */


.white-face .analog-clock {
  background: #FFF;
  color: rgba(0, 0, 0, 0.5);
}

.white-face .analog-clock div.hours::before {
  background-color: rgba(0, 0, 0, 0.9);
}

.white-face .analog-clock div.minutes::before {
  background-color: rgba(0, 0, 0, 0.75);
}

.white-face .analog-clock div.seconds::before {
  background-color: #EB6444;
}

.white-face .analog-clock span::before, .white-face .analog-clock span::after {
  /*background-color: rgba(255, 255, 255, 0.25);*/
  background-color: rgba(0, 0, 0, 0.25);
}
.white-face .analog-clock span.fives::before, .white-face .analog-clock span.fives::after {
  /*background-color: rgba(255, 255, 255, 0.75);*/
  background-color: rgba(0, 0, 0, 0.5);
}


/*.analog-clock .cercle {
  background-color: #EB6444;
}*/


.prayer-info-container .prayer-info .prayer-time,
.prayer-info-container .prayer-info .iqamah-time {
  transform: translate3d(0, 0, 0);
  /*transform: translate3d(0, 4rem, 0);*/
  opacity: 1;
  transition: all 300ms;
  position: absolute;
}

.active-prayer-info-athan .prayer-info-container .prayer-info .iqamah-time {
  transform: translate3d(0, 4rem, 0);
  opacity: 0;
}

/*.active-prayer-info-athan .prayer-time {
  transform: translate3d(0, 0, 0);
  transform: translate3d(0, 4rem, 0);
  opacity: 1;
}*/



.active-prayer-info-iqamah .prayer-info-container .prayer-info .prayer-time {
  transform: translate3d(0, 4rem, 0);
  opacity: 0;
}

/*.active-prayer-info-iqamah .iqamah-time {
  transform: translate3d(0, 4rem, 0);
  opacity: 1;
}
*/



.prayer-info-container .prayer-info.is-current {
  background: #FFF;
  transition: all 300ms;
}

.active-prayer-info-athan .prayer-info.is-current/* .prayer-time*/ {
  background: #7eff74;
}

.active-prayer-info-iqamah .prayer-info.is-current/* .iqamah-time*/ {
  background: #FFEB3B;
}


.prayer-info-container .prayer-info.is-current .prayer-name,
.prayer-info-container .prayer-info.is-current .prayer-time,
.prayer-info-container .prayer-info.is-current .iqamah-time {
  color: #000;
}