* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background: #000;
  /*background: green;*/
  color: #FFF;
  text-align: center;
}

#app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*top: 20px;*/
  top: 1.5rem;
  /*right: 30px;*/
  right: 2rem;
  /*bottom: 20px;*/
  /*bottom: 1.5rem;*/
  bottom: 6rem;
  /*left: 30px;*/
  left: 2rem;
}


#app * {
  z-index: 10;
}


#splash {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  background: #000;
  width: 100vw;
  height: 100vh;
}

#splash .splash-content {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-top: -5rem;
  text-align: center;
  height: 10rem;
  font-size: 2rem;
  line-height: 10rem;
}

#splash .splash-content img {
  height: 100%;
}

.prayer-info-container {
  background: gray;
  bottom: -6rem;
  height: 6rem;
}

.prayer-info {
  width: 20%;
  /*width: 16.66%;*/
  display: inline-block;
}

.analog-clock {
  background: #333;
  color: #EEE;
}

.analog-clock-container {
  width: 272px;
  height: 272px;
  position: relative;
}

.analog-clock-container .border-clock {
  display: none;
}

.analog-clock-container .analog-clock {
  border: 0;
}

/*.date-display,
.date-display .hijri-date,
.date-display .date,
.digital-clock,
.digital-clock .time,
.digital-clock .seconds,
.digital-clock .am-pm,
.prayer-info-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}*/


#bgful .bgful-image, #bgful .bgful-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#bgful .bgful-overlay {
  background: rgba(0, 0, 0, 0.75);
/*  background: rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.6);*/
  z-index: 2;
}

#bgful .bgful-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px);
}



#app .modal-wrapper {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #000;
}

#app .modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#app .modal-dialog {
  background: rgba(255, 255, 255, 0.95);
  width: 500px;
  height: calc(100vh - 6rem);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1rem;
  overflow-y: auto;
}

#app .modal-close {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5rem;
}

#app .times-config {
  text-align: left;
}

#app .time-config {
  height: 4rem;
  line-height: 3rem;
  padding: 0.5rem;
}

#app .time-config:nth-child(even) {
  background: #DADADA;
}


#app .time-config .label {
  font-size: 2rem;
  width: 7rem;
  display: inline-block;
}


#app .time-config .time-input {
  width: 20px;
  width: 4rem;
  font-size: 2rem;
  line-height: 2.5rem;
  border: 2px solid #AAA;
  outline: 0;
  display: inline-block;
}

#app .time-config .time-input-colon {
  font-size: 2rem;
}

#app .time-config .time-input:focus {
  border-color: #0f6f9b;
  outline: 0;
}

#app .time-config .toggle-absolute {
  font-size: 2rem;
  line-height: 2.5rem;
  width: 3rem;
  text-align: center;
  display: inline-block;  
  color: #FFF;
  background: #518d0b;
}

#app .time-config .toggle-absolute.is-absolute {
  font-size: 1.5rem;
  background: #555;
}

#app .time-config .time-info {
  font-size: 2rem;
  margin-left: 0.5rem;
}

#app .configured-info {
  margin-bottom: 0.5rem;
}

#app .configured-info .not-configured {
  color: #d91010;
}

#app .configured-info .configured {
  color: #1eb624;
}
