.colon {
  text-align: center;
}

.prayer-info-container {
  position: absolute;
  right: 0;
  right: -2rem;
  /*  bottom: 0;
  bottom: -1.5rem;*/
  left: 0;
  left: -2rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  background: #222;
  background: transparent;
  /*height: 6rem;*/
}

.prayer-info-container .prayer-info {
  position: relative;
  height: 6rem;
  overflow: hidden;
}

.prayer-info-container .prayer-info:nth-child(even) {
  background: rgba(255, 255, 255, 0.125);
}

.prayer-info-container .prayer-name {
  font-size: 1rem;
  font-size: 1.75rem;
  font-size: 2rem;
  line-height: 1.75rem;
  line-height: 2rem;
  /*margin-bottom: 0.5rem;*/
  height: 1.75rem;
  height: 2rem;
  margin-bottom: 0.25rem;
  margin-bottom: 0rem;
  background: #333;
  display: block;
  opacity: 0.76;
  /*background: rgba(255, 255, 255, 0.25);*/
  background: rgba(255, 255, 255, 0.125);
}

.prayer-info-container .prayer-time,
.prayer-info-container .iqamah-time {
  /*  font-size: 3rem;
  line-height: 3rem;*/
  font-size: 4rem;
  line-height: 4rem;
  width: 100%;
  text-align: center;
  position: relative;
}

.prayer-info-container .prayer-time {
  color: #7eff74;
}

.prayer-info-container .iqamah-time {
  color: #ffeb3b;
  /*display: none;*/
}

.prayer-info-container .am-pm {
  opacity: 0.76;
  opacity: 0.76;
  font-size: 0.75rem;
  /*  position: relative;
  bottom: 0.5rem;*/

  position: absolute;
  top: 0.5rem;
  line-height: 0.75rem;
  right: -0.125rem;
  display: none;
}
/*

.date-display {
  bottom: auto;
  left: auto;
}

.hijri-date {
  position: absolute;
}*/

.date-display .hijri-date,
.date-display .date {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.76;
}

.date-display .hijri-date {
  font-size: 1.5rem;
  height: 2rem;
}

.date-display .date {
  font-size: 1.75rem;
  line-height: 2rem;
  top: 2.5rem;
}

.digital-clock,
/*.digital-clock .time,*/
.digital-clock .seconds,
.digital-clock .am-pm {
  position: absolute;
  top: 0;
  right: 0;
}

.digital-clock {
  top: 6rem;
  /*top: 7.5rem;*/
}
.digital-clock .time {
  position: relative;
  font-size: 10rem;
  line-height: 10rem;
  height: 10rem;
  width: auto;
  right: 5rem;
  top: -1rem;

  /*  top: -2rem;
  font-size: 18rem;
  line-height: 18rem;*/
  height: 18rem;
}

.digital-clock .time .hours,
.digital-clock .time .colon,
.digital-clock .time .minutes {
  /*float: left;*/
  /*display: inline-block;*/
}

.digital-clock .time .colon {
  opacity: 0.75;
  /*  min-height: 3rem;
  width: 3rem;
  width: 5rem;*/
}

.digital-clock .seconds {
  font-size: 2.5rem;
  font-size: 3.75rem;
  line-height: 3.75rem;
  opacity: 0.75;
  top: 3rem;
}

.digital-clock .am-pm {
  font-size: 2.5rem;
  font-size: 2rem;
  line-height: 2rem;
  opacity: 0.75;
}

.digital-clock .time .hours,
.digital-clock .time .minutes {
  /*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";*/
}

.digital-clock .time .hours {
  position: fixed;
  top: 0;
  left: 0;
  left: 2rem;
  font-size: calc(50vh - 3rem);
  height: calc(50vh - 3rem);
  line-height: calc(50vh - 3rem);
}

.digital-clock .time .minutes {
  position: fixed;
  left: 0;
  left: 2rem;
  font-size: calc(50vh - 3rem);
  /*top: calc(50vh - 3rem);*/
  height: calc(50vh - 3rem);
  line-height: calc(50vh - 3rem);
  bottom: 6rem;
}

.digital-clock .time .colon-main {
  position: fixed;
  top: calc(50vh - 3rem);
  left: 0;
  height: 25vh;
  width: 25vh;
  font-size: 25vh;
  line-height: 25vh;
  margin-top: -12.5vh;
  transform: rotate(90deg);
  transform-origin: center;
  left: calc(15vh + 2rem);
  text-align: center;
  display: block;
}

.digital-clock .time .seconds-container {
  position: absolute;
  display: block;
  right: -5rem;
  bottom: 0;
  bottom: 1.5rem;
  top: 0;
}

.digital-clock .seconds {
  top: auto;
  bottom: 0;
  opacity: 0.76;
}

.digital-clock .am-pm {
  top: auto;
  bottom: 4.5rem;
}

.digital-clock .date-display {
  position: absolute;
  display: inline-block;
  top: 0;
  top: 1.5rem;
  right: -30rem;
  width: 30rem;
  padding-left: 1rem;
  text-align: left;
}

.digital-clock .date-display .hijri-datex {
  display: block;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 0.75rem;
  opacity: 0.76;
}

.digital-clock .date-display .datex {
  display: block;
  font-size: 2.25rem;
  /*line-height: 3rem;*/
  line-height: 2.25rem;
  margin-bottom: 0.75rem;
  opacity: 0.8;
}

.digital-clock .date-display .weekday {
  display: block;
  font-size: 2.75rem;
  line-height: 3rem;
  line-height: 2.75rem;
  opacity: 0.8;
}

.active-timer {
  position: absolute;
  font-size: 5rem;
  bottom: 2rem;
  bottom: 0.5rem;
  /*bottom: 4rem;*/
  left: 0;
  right: 0;
  text-align: right;
}

.active-timer .time {
  /*  font-size: 10rem;
  height: 10rem;
  line-height: 10rem;*/
  font-size: 9rem;
  height: 9rem;
  line-height: 9rem;

  color: #ff5959;
}

.active-timer .description {
  font-size: 3rem;
  /*font-size: 2rem;*/
  font-size: 2.5rem;
  display: block;
  opacity: 0.75;
  margin-top: -1rem;
  /*color: #FFF;*/
  display: none;
}

.active-timer .time .minutes,
.active-timer .time .colon,
.active-timer .time .seconds {
  /*float: left;*/
  /*display: inline-block;*/
}

.active-timer .time .colon {
  opacity: 0.75;
  min-height: 3rem;
  width: 3rem;
  display: inline-block;
}

/*.is-before .active-timer .time {
  color: #23ff2c;
  color: #58ff4c;
  color: #7eff74;
}
.is-waiting .active-timer .time {
  color: #FFEB3B;
}
.is-after .active-timer .time {
  color: #fb2414;
  color: #ff5959;
}*/

.is-waiting .active-prayer .time,
.is-waiting .active-prayer .am-pm,
.is-after .active-prayer .time,
.is-after .active-prayer .am-pm {
  display: none;
}

.is-before .active-prayer .iqamah-time,
.is-before .active-prayer .iqamah-am-pm {
  display: none;
}

.is-before .active-timer {
  bottom: 0.5rem;
}

.is-waiting .active-timer,
.is-after .active-timer {
  bottom: 8.5rem;
}

/*.next-prayer, .active-prayer {
  display: none;
}*/

.is-active .next-prayer {
  display: none;
}

/*.next-prayer, .active-prayer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}*/

.prayer-display .name {
  font-size: 5rem;
  /*font-size: 7.5rem;*/
  position: absolute;
  left: 0;
  display: block;
  /*bottom: 3rem;*/
  bottom: 0;
  opacity: 0.76;
  margin-bottom: 2rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
  margin-left: 1.5rem;

  bottom: auto;
  top: 4rem;
  right: 0;
  left: auto;

  top: auto;
  bottom: 12rem;

  font-size: 4rem;
  bottom: 12.5rem;

  bottom: 15rem;
  bottom: 14rem;
}

.prayer-display .name .label {
  font-size: 2.5rem;
  font-size: 2rem;
  position: absolute;
  right: 0;
  top: -2rem;
  opacity: 0.9;
}

.prayer-display .iqamah-time,
.prayer-display .iqamah-am-pm,
.prayer-display .time,
.prayer-display .am-pm {
  position: absolute;
  right: 0;
  bottom: 0;
  /*margin-bottom: 3rem;*/
}

.prayer-display .iqamah-time,
.prayer-display .time {
  height: 7.5rem;
  line-height: 7.5rem;
  font-size: 7.5rem;

  height: 9rem;
  line-height: 9rem;
  font-size: 9rem;

  right: 2rem;
  right: 3rem;
  right: 0;
  opacity: 0.76;
  opacity: 1;
}

.prayer-display .iqamah-am-pm,
.prayer-display .am-pm {
  font-size: 1.5rem;
  opacity: 0.75;
  bottom: 5rem;
  right: 4rem;

  bottom: auto;
  right: auto;
  left: -3rem;
  top: 1.5rem;
  line-height: 1.5rem;
}

.prayer-display .iqamah-time .iqamah-label,
.prayer-display .time .label {
  position: absolute;
  right: auto;
  top: 3.5rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  opacity: 0.75;
  opacity: 0.9;
  text-align: right;
  display: block;
  width: 7rem;
  left: -7.5rem;
}

.prayer-display .time {
  bottom: 7rem;
  bottom: 8rem;
  bottom: 9rem;
  bottom: 8.5rem;
}

.prayer-display .iqamah-time {
  margin-bottom: 0;
  /*bottom: 1rem;*/
  bottom: 0.5rem;
  /*  font-size: 6rem;
  height: 6rem;
  line-height: 6rem;*/
}

/*.prayer-display .am-pm {
  bottom: 11.5rem;
  bottom: 12.5rem;
  bottom: 14.5rem;
}

.prayer-display .iqamah-am-pm {
  bottom: 4.5rem;
  bottom: 5.5rem;
  bottom: 6.5rem;
}*/

.prayer-display .colon {
  opacity: 0.75;
}

.prayer-display .time,
.prayer-display .am-pm {
  color: #23ff2c;
  color: #58ff4c;
  color: #7eff74;
}

.prayer-display .iqamah-time,
.prayer-display .iqamah-am-pm {
  color: #ffeb3b;
}

.active-prayer .time,
.active-prayer .iqamah-time,
.active-prayer .iqamah-am-pm,
.active-prayer .am-pm {
  /*display: none;*/
}

.prayer-info-container .prayer-info .prayer-time,
.prayer-info-container .prayer-info .iqamah-time {
  transform: translate3d(0, 0, 0);
  /*transform: translate3d(0, 4rem, 0);*/
  opacity: 1;
  transition: all 300ms;
  position: absolute;
}

.active-prayer-info-athan .prayer-info-container .prayer-info .iqamah-time {
  transform: translate3d(0, 4rem, 0);
  opacity: 0;
}

/*.active-prayer-info-athan .prayer-time {
  transform: translate3d(0, 0, 0);
  transform: translate3d(0, 4rem, 0);
  opacity: 1;
}*/

.active-prayer-info-iqamah .prayer-info-container .prayer-info .prayer-time {
  transform: translate3d(0, 4rem, 0);
  opacity: 0;
}

/*.active-prayer-info-iqamah .iqamah-time {
  transform: translate3d(0, 4rem, 0);
  opacity: 1;
}
*/

.prayer-info-container .prayer-info.is-current {
  background: #fff;
  transition: all 300ms;
}

.active-prayer-info-athan .prayer-info.is-current/* .prayer-time*/ {
  background: #7eff74;
}

.active-prayer-info-iqamah .prayer-info.is-current/* .iqamah-time*/ {
  background: #ffeb3b;
}

.prayer-info-container .prayer-info.is-current .prayer-name,
.prayer-info-container .prayer-info.is-current .prayer-time,
.prayer-info-container .prayer-info.is-current .iqamah-time {
  color: #000;
}

.toast-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

.toast-container .toast-item {
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  border-radius: 30px;
  padding: 10px 15px;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.75);
  margin-bottom: 10px;
}

.invalid-time-container {
  color: #fff;
  z-index: 3333;
  position: fixed;
  width: 100%;
  height: 14rem;
  left: 0;
  top: 50%;
  margin-top: -7rem;
}

.invalid-time-container h1,
.invalid-time-container h2,
.invalid-time-container h3 {
  line-height: 2rem;
  font-size: 1.25rem;
  font-weight: normal;
}
.invalid-time-container h1 {
  font-size: 1.75rem;
}
.invalid-time-container h1 small {
  font-size: 1rem;
}
.invalid-time-container h2 {
  font-size: 1.5rem;
}
.invalid-time-container h3 {
  font-size: 1.25rem;
}

.prayer-display .time,
.prayer-display .am-pm,
.prayer-info-container .prayer-time {
  color: #7eff74;
  /* color: cyan; */
}

.prayer-display .time.is-sunrise,
.prayer-display .is-sunrise .am-pm {
  color: #FF8F00;
  /* color: cyan; */
}

.active-prayer-info-athan .prayer-info.is-current/* .prayer-time*/ {
  background: #7eff74;
  /* background: cyan; */
}

.prayer-display .iqamah-time,
.prayer-display .iqamah-am-pm,
.prayer-info-container .iqamah-time {
  color: #ffeb3b;
  /* color: magenta; */
}

.prayer-info-container .is-sunrise .iqamah-time {
  color: #FF8F00;
  /* color: magenta; */
}

.active-prayer-info-iqamah .prayer-info.is-current/* .iqamah-time*/ {
  background: #ffeb3b;
  /* background: magenta; */
}

.active-prayer-info-iqamah .prayer-info.is-current.is-sunrise/* .iqamah-time*/ {
  background: #FF8F00;
  /* background: magenta; */
}

.light-mode {
  color: #000;
}

.light-mode #bgful .bgful-overlay {
  background: rgba(255, 255, 255, 0.9);
}

.light-mode .prayer-display .time,
.light-mode .prayer-display .am-pm,
.light-mode .prayer-info-container .prayer-time
{
  color: #3cb371;
}

.light-mode .prayer-display .iqamah-time,
.light-mode .prayer-display .iqamah-am-pm,
.light-mode .prayer-info-container .iqamah-time
 {
  color: #8a7100;
}

.light-mode .active-timer .time {
  color: #db0000;
}

.light-mode .prayer-info-container .prayer-name {
  background: rgba(0, 0, 0, 0.15);
}

.light-mode .prayer-info-container .prayer-info:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
}

.analog-clock-theme-modern .analog-clock-container .analog-clock-overalay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
}

.analog-clock-theme-modern .analog-clock-container .analog-clock-bg {
  opacity: 0.75;
}

.digital-clock .time .date-display,
.digital-clock .time .seconds-container {
  opacity: 0.9;
}

.digital-clock .time .hours .h, .digital-clock .time .colon-main, .digital-clock .time .minutes .m {
  color: #FFF;
  opacity: 1;
}

.digital-clock-theme-modern .digital-clock .time .hours .h,
.digital-clock-theme-modern .digital-clock .time .colon-main,
.digital-clock-theme-modern .digital-clock .time .minutes .m {
  color: #00aaff;
  opacity: 1;
}

@media (orientation: portrait) {
  .digital-clock .time .hours,
    .digital-clock .time .colon-main,
    .digital-clock .time .minutes {
      top: 0;
      left: 0;
      font-size: 20rem;
      line-height: 25rem;
      bottom: auto;
      height: 25rem;
      margin: 0;
      top: 10rem;
    }
    .digital-clock .time .hours,
    .digital-clock .time .minutes {
      width: 25rem;
    }
    .digital-clock .time .colon-main {
      transform: none;
      left: 22rem;
      width: 10rem;
    }
    .digital-clock .time .minutes {
      left: 30rem;
    }

    .digital-clock .date-display {
      left: 2rem;
      top: -6rem;
    }

    /*  */

    .digital-clock .time .seconds-container {
      right: 0;
      text-align: right;
      position: absolute;
      left: auto;
      top: 20.5rem;
      right: 2rem;
    }
    .digital-clock .time .seconds-container .seconds,
    .digital-clock .time .seconds-container .am-pm {
      font-size: 5rem;
      line-height: 6rem;
      height: 6rem;
      display: block;
      position: absolute;
      left: auto;
      top: 0;
      right: 0;
      bottom: auto;
    }
    .digital-clock .time .seconds-container .seconds {
    }
    .digital-clock .time .seconds-container .seconds .colon {
    }
    .digital-clock .time .seconds-container .am-pm {
      top: 4rem;
      font-size: 2.5rem;
      opacity: 0.5;
    }


    .prayer-display .iqamah-time, .prayer-display .time {
      font-size: 12rem;
    }
    .prayer-display .time {
      bottom: 13rem;
    }
    .prayer-display .iqamah-time {
      bottom: 2rem;
    }
    .active-timer .time {
      font-size: 12rem;
    }
    .is-before .active-timer {
      bottom: 2rem;
    }
    .is-waiting .active-timer, .is-after .active-timer {
      bottom: 13rem;
    }
    .prayer-display .name {
      bottom: 20.5rem;
    }
    #app .alert-container {
      top: 30rem;
      left: 15rem;
    }

    #app.analog-clock-active .alert-container {
      top: 20rem;
      left: 35rem;
    }

    #version-info {
      font-size: 2.5rem !important;
    }
    #version-info .version-text {
      font-size: 3rem !important;
    }

    .analog-clock-active .analog-clock-container {
      width: 30rem;
      height: 30rem;
      top: 10rem;
      bottom: auto;
      left: 1rem;
    }

    .analog-clock-active .digital-clock .date-display {
      left: 24rem;
      top: 2rem;
      bottom: auto;
    }
}

/* //////////////////////////////////////// */

@media (orientation: landscape) {
  .is-active .prayer-display .iqamah-time, .is-active .prayer-display .time,
  .is-active .active-timer .time
  {
    font-size: 12.5rem;
    line-height: 13rem;
    height: 13rem;

    font-size: 30vh;
    line-height: 30vh;
    height: 30vh;
    z-index: 501 !important;
  }

  .is-active .prayer-display .time {
    bottom: 12rem;
    bottom: 30vh;
  }

  .is-active .prayer-display .iqamah-time {
    bottom: 0.5rem;
  }

  .is-active .active-timer .time {

  }

  .is-active.is-waiting .active-timer, .is-active.is-after .active-timer {
    bottom: 12rem;
    bottom: 30vh;
  }


  .is-active .digital-clock .time .hours {
    font-size: 9rem;
    line-height: 10rem;
  }

  .is-active .digital-clock .time .colon-main {
    font-size: 9rem;
    line-height: 10rem;
    left: 3rem;
    top: 6rem;
    height: 10rem;
    width: 10rem;
    margin: 0;
  }

  .is-active .digital-clock .time .minutes {
    font-size: 9rem;
    line-height: 10rem;
    bottom: auto;
    top: 12rem;
  }

  .is-active .digital-clock .time .seconds-container {
    bottom: auto;
    top: 9rem;
    right: auto;
    left: 15rem;
  }

  .is-active .digital-clock .seconds {
    font-size: 2.5rem;
  }

  .is-active .digital-clock .am-pm {
    font-size: 1.25rem;
    bottom: 3.25rem;
  }

  .is-active .prayer-display .name {
    bottom: calc(50vh + 0.5rem);
    font-size: 2rem;
    z-index: 501 !important;
  }

  .is-active .prayer-display .name .label {
    font-size: 1.25rem;
  }

  .is-active #active-overlay, .is-active .version-active-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 500 !important;
    display: none;
  }

  .is-active .active-timer {
    z-index: 501 !important;
  }

  .is-active .version-active-overlay {
    position: absolute;
    z-index: 512;
  }
  .is-active .digital-clock .date-display .hijri-datex {
    font-size: 1rem;
    line-height: 1rem;
    ;
  }
  .is-active .digital-clock .date-display .datex {
    font-size: 1.5rem;
    line-height: 1.5rem;
    ;
  }
  .is-active .digital-clock .date-display .weekday {
    font-size: 1.8rem;
    line-height: 1.8rem;

  }

  .is-active .prayer-display .iqamah-time .iqamah-label,
  .is-active .prayer-display .time .label {
    font-size: 2.5rem;
    left: -12.5rem;
    width: 12rem;
    top: 4.5rem;
  }

  .is-active .analog-clock-container {
    height: 20rem;
    width: 20rem;
    top: 0;
    bottom: auto;
  }

  .is-active.analog-clock-active .digital-clock .date-display .hijri-datex {
    margin-left: 5.25rem;
  }
  .is-active.analog-clock-active .digital-clock .date-display .datex {
    margin-left: 7.25rem;
  }
  .is-active.analog-clock-active .digital-clock .date-display .weekday {
    margin-left: 9.5rem;
  }


  .focus-active-timer .prayer-info-container,
  .focus-active-timer #version-info,
  .focus-active-timer .digital-clock,
  .focus-active-timer .analog-clock-container {
    opacity: 0.25 !important;
  }

  .focus-active-timer .alert-container {
    left: 0.5rem !important;
    top: 0.5rem !important;
  }
  .focus-active-timer .alert-container img {
    /* opacity: 1; */
  }
}